@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2>

@if (!Model.Any())
{
    <text>No customer.</text>
}
else
{
    <ul>
        @foreach (var customer in Model)
        {
            <li>
                @Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)
            </li>
        }
    </ul>
}

